._lifecycle {
    fill: #FFA500;
    stroke: #FF8C00;
    stroke-width: 1.5px;
}

._lifecycle .iconText {
    font-family: FontAwesome;
    fill: black;
    stroke-width:0;
    font-size: 15px;
}

._lifecycle .labelText {
    fill: black;
    stroke-width:0;
    font-size: 0.35em;
    font-family: Arial;
}

._lifecycle .arrow {
    stroke: #FF8C00;
    stroke-width: 1.5px;
}

._end_lifecycle {
    fill: #FF8C00;
}
