html,body { width:100%; height:100%; padding:0; margin:0; overflow:visible;}

body {
    background-color:white;
}



._straightx path {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}

._straightx text {
    fill: white;
    stroke-width:0;
    font-size: 0.4em;
    font-family: Open Sans;
}

.zone-hover rect {
    stroke: red;
    stroke-width: 1px;
}


.zone-hover text.iconText {
    visibility: visible;
}

._zone .iconText {
    font-family: FontAwesome;
    fill: black;
    stroke-width:0;
    font-size: 25px;
    visibility: hidden;
}

#viewer {
    border:1px solid white;
    overflow:hidden;
}


text.red {
    fill:red;
}

text.yellow {
    fill:yellow;
}

text.white {
    fill:white;
}

text.grey {
    fill:#999999;
}


#base {
    position:relative;
}

._default2 {
    fill: blue;
    stroke: #333;
    stroke-width: 0;
    opacity: 0.7;
}

g._default2 > text {
    fill: white;
    font-size: 0.55em;
}

text.caps {
}

.warning {
    fill: yellow;
}

.text-lg {
    font-size: 1.4em !important;
    fill: white !important;
}

._component rect.New {
    fill: #999999;
}

.Provisioned {
    fill: green !important;
}

.New {
    fill: #999999 !important;
}

.Inactive {
    fill: #999999 !important;
}
