._timeline {
    fill: black;
    stroke: #333;
    stroke-width: 0px;
}

._timeline rect {
    stroke-width: 0;
}

._timeline circle {
    fill:white;
    stroke: black;
}

._timeline text {
    font-size: 0.7em;
    font-family: 'Open Sans';
}
