._component rect.inactive {
    fill: #CCCCCC;
}

._component rect.alert {
    fill: red;
}

._component rect {
    fill: #e67e22;
}

._component rect.outer {
    stroke: white;
    stroke-width: .05em;
}

._component rect.inner {
    stroke: white;
    stroke-width: .05em;
}

._component text {
    font-family: 'Arial';
    font-size: 0.4em;
}

._component .icon {
    font-family: FontAwesome;
    fill: black;
    font-size: 1em;
}

._component .label {
    fill: black;
    stroke-width:0;
    font-size: 0.5em;
}

g._infra path.link {
    fill: none;
    stroke: lightgreen;
    stroke-width: 0.05em;
    stroke-dasharray: (6,3);
}


g._infra circle.circleTarget {
    fill: lightgreen;
}

g._infra circle.circleSource {
    fill: lightgreen;
}



._component-app rect {
    fill: white;
}

._component-app rect.outer {
    stroke: #999999;
    stroke-width: .05em;
}

._component-app rect.inner {
    stroke: #999999;
    stroke-width: .05em;
}

._component-app text {
    font-family: 'Arial';
    font-size: 0.4em;
}

._component-app .icon {
    font-family: FontAwesome;
    fill: black;
    font-size: 1em;
}

._component-app .label {
    fill: black;
    stroke-width:0;
    font-size: 0.5em;
}

