
._nested {
    fill: green;
}

._nested rect {
    stroke-width: 0px;
    stroke: #999999;
}

._nested text {
    fill: white;
    stroke: white;
    stroke-width: .0;
    font-family: 'Open Sans Condensed', sans-serif;
}

._nested text.label {
    font-size: 0.85em;
}

._nested circle.option_x {
    fill: white;
}

._nested text.option_x {
    fill: black;
    font-family: 'Open Sans Condensed', sans-serif;
}

._nested .icon {
    font-family: FontAwesome;
    fill: white;
    stroke-width:0;
    font-size: 1em;
}


._nested2 {
    fill: green;
}

._nested > g > g > circle {
    fill: blue;
}
