._list {
    fill: white;
}

._list rect {
    stroke-width: 0px;
    stroke: #999999;
    fill: #CCCCCC;
}

._list rect.tools {
    fill: #999999;
}

._list text.tools {
    font-size: 0.5em;
}

._list text.xs {
    font-size: 0.4em;
}

._list text {
    fill: darkblue;
    font-family: 'Open Sans','Arial';
    font-size: 0.6em;
    cursor: default;
}

._list .value text {
    font-family: 'Open Sans','Arial';
    font-size: 0.8em;
    cursor: default;
}

._list .value rect.selected {
    fill: lightblue;
}

._list .value rect.unselected {
    fill: #EFEFEF;
}

._list .value rect.noselection {
    fill: lightgreen;
}

._list .value text.count {
    font-size: 0.6em;
}
