._icon {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

._icon text.label {
    fill: white;
    stroke-width:0;
    font-size: 0.5em;
}

._icon text {
    fill: white;
    stroke-width:0;
    font-size: 0.5em;
}
