
._swimlane {
    margin:5px;
    fill: white;
    stroke: #333;
    stroke-width: .2;
    x-stroke-dasharray: 5.5;

}

._swimlane rect {
    opacity:0.6;
}

._swimlane .laneLabel {
    fill: #ECA50D;
}

._swimlane text {
    font-family:'Open Sans';
    font-size:0.8em;
    fill: black;
    font-weight: bold;
}
