
._box {
    fill: blue;
}

._box rect {
    stroke-width: 0px;
    stroke: #999999;
}

._box text {
    fill: white;
    stroke: white;
    stroke-width: .0;
    font-family: 'Open Sans Condensed', sans-serif;
}

._box text.label {
    font-size: 0.85em;
}

._box circle.option_x {
    fill: white;
}

._box text.option_x {
    fill: black;
    font-family: 'Open Sans Condensed', sans-serif;
}

._box .icon {
    font-family: FontAwesome;
    fill: white;
    stroke-width:0;
    font-size: 1em;
}


._box2 {
    fill: green;
}
