
.git-chart {
    padding:25px;
}

.git-chart .line-users {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.git-chart .line-commits {
  fill: lightsteelblue;
}

.git-chart .milestone-line {
  fill: none;
  stroke: green;
  stroke-width: 2px;
  opacity: 0.5;
}

.git-chart .milestone-circle {
  fill: green;
}

.git-chart .milestone-text {
  fill: green;
  font-size: 70%;
  font-weight: bold;
}

div.iksplor-tooltip {
  position: absolute;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  padding: 2px;
  color: white;
  font: 14px sans-serif;
  font-weight: 800;
  background: #005b96;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.git-chart circle {
}