
.progress-tree {
}
.progress-graph-node {
}

.progress-graph-edge {
    stroke-width: 0.1em;
    opacity:0.5;
    stroke: #999999;
    fill: none;
}

.progress-graph-text {
    font-size: 0.5em;
}

.progress-graph-stream {
    font-size: 0.5em;
    text-transform: uppercase;
}

