._application {
    fill: rgb(246,213,185);
}

._application rect.active {
    fill: #43BB3F;
}

._application rect.inactive {
    fill: #F19996;
}

._application rect.global {
    fill: #CCCCCC;
}

._application rect {
    stroke-width: 0px;
    stroke: #999999;
}

._application text {
    fill: black;
    font-family: 'Open Sans';
}

._application text.label {
    font-size: 0.6em;
}

._application text.topLeft {
    font-size: 0.4em;
}

._application text.topRight {
    font-size: 0.4em;
}

._application text.bottomLeft {
    font-size: 0.4em;
}

._application text.bottomRight {
    font-size: 0.4em;
}

._application text.appId {
    font-size: 0.45em;
    font-weight: bold;
}