
._carousel {
    fill:#CCC;
}

._carousel .toc {
    fill:black;
    font-size:0.7em;
    font-family: 'Open Sans';
}

._carousel .selected {
    fill:blue !important;
    font-weight: bold !important;
}

text.carousel_down,text.carousel_up {
    font-size: 4em;
    fill: #999;
}