
._timelines .background {
    fill:white;
}

._timelines text {
    fill:black;
    font-size:0.7em;
    font-weight:bold;
    font-family: 'Open Sans';
}


._timelines .sat,.sun,.m2 {
    fill: lightblue;
}
._timelines .mon,.tue,.wed,.thu,.fri {
    opacity: 0.7;
    fill: white;
}

._timelines .jan,.mar,.may,.jul,.sep,.nov,.q1,.q3 {
    fill:lightblue;
    stroke-width:0;
}

._timelines .feb,.apr,.jun,.aug,.oct,.dec,.q2,.q4 {
    fill:white;
}

._timelines .level1 {
    fill: black;
}

._timelines .banner {
    fill: white;
    font-size: 0.6em;
}